<div class="bg-gray-200 p-4 h-screen flex-col items-start pt-20">
    <div class="bg-white p-4 rounded-lg shadows mb-10">
        <h2 class="text-xl font-semibold mb-4" style="width: 120px;">Total Sales</h2>
        <div class="bg-blue-500 text-white px-4 py-2 rounded-lg mb-4 w-fit pr-7">
            <p class="text-lg font-semibold">₹ {{salesamount}}</p>
        </div>
    </div>

    <div class="bg-white p-4 rounded-lg shadow" style="width: 200px;">
      <h2 class="text-xl font-semibold mb-4">Cash Balance</h2>
      <div class="bg-blue-500 text-white px-4 py-2 rounded-lg mb-4 w-fit">
          <p class="text-lg font-semibold">₹ {{ cashbalance }}</p>
      </div>
  </div>

</div>


