<app-superadminheader></app-superadminheader>
<div class="flex">

    <app-sadminsidepanel></app-sadminsidepanel>

    <div class="w-3/4 m-20">
        <div class="mt-8">
          <a routerLink="/storeownerdetails">
            <button class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 mb-4">Manage Store Owners</button>
          </a>
          <a routerLink="/branchdetails">
            <button routerLink="/branchdetails" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 mb-4">Manage Branches</button>
          </a>
          <a routerLink="/medicinedetails">
            <button routerLink="/medicinedetails" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 mb-4">Manage Medicines</button>
          </a>
          <a routerLink="/reports">
            <button routerLink="/reports" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600">View Reports</button>
          </a>
        </div>
    </div>
</div>
