<app-storeownerheader></app-storeownerheader>
<div class="flex">
    <div class="w-3/4 m-20">
        <div class="mt-8">
            <button routerLink="/storeownerdetails" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 mb-4">New Purchase</button>
            <button routerLink="/branchdetails" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600 mb-4">Manage Inventory</button>
            <button routerLink="/" class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md hover:bg-blue-600">View Reports</button>
        </div>
    </div>
</div>
