<app-superadminheader></app-superadminheader>

<button class="ml-10 mt-8 px-4 py-2 rounded bg-blue-500 hover:bg-blue-600 text-white"><a routerLink="/branchdetailsform">Add New</a></button>

<!-- @if (branches.length == 0) {
  <h3>No Data To Show</h3>
} -->
<!-- @else { -->
  <div class="flex m-10">
  <table style="width: 100%; border-collapse: collapse;">
      <thead>
          <tr>
              <th style="border: 1px solid #ddd; padding: 8px;">Branch Id</th>
              <th style="border: 1px solid #ddd; padding: 8px;">Branch Name</th>
              <th style="border: 1px solid #ddd; padding: 8px;">Address</th>
          </tr>
      </thead>
      <tbody>
          @for (branch of branches; track $index)
          {
              <tr>  
                  <td style="border: 1px solid #ddd; padding: 8px;">{{ branch.BranchId }}</td>
                  <td style="border: 1px solid #ddd; padding: 8px;">{{ branch.BranchName }}</td>
                  <td style="border: 1px solid #ddd; padding: 8px;">{{ branch.Address }}</td>

                    <td style="border: 1px solid #ddd; padding: 8px;">
                        <button (click)="deleteRow()" style="padding: 8px; background-color: #f44336; color: white; border: none; cursor: pointer; border-radius: 4px;">Delete</button>
                    </td>
                    <td style="border: 1px solid #ddd; padding: 8px;">
                        <button (click)="editRow()" style="padding: 8px; background-color: #14073c; color: white; border: none; cursor: pointer; border-radius: 4px;">Edit</button>
                    </td>
            
              </tr>
          }
      </tbody>
  </table>
</div>
<!-- } -->
