<app-superadminheader></app-superadminheader>

<button class="ml-10 mt-8 px-4 py-2 rounded bg-blue-500 hover:bg-blue-600 text-white"><a routerLink="/storeownerform">Add New</a></button>


<!-- @if (storeowners.length == 0) {
  <h3>No Data To Show</h3>
} -->
<!-- @else { -->
  <div class="flex m-10">
  <table style="width: 100%; border-collapse: collapse;">
      <thead>
          <tr>
              <th style="border: 1px solid #ddd; padding: 8px;">Owner Id</th>
              <th style="border: 1px solid #ddd; padding: 8px;">Name</th>
              <th style="border: 1px solid #ddd; padding: 8px;">Email</th>
              <th style="border: 1px solid #ddd; padding: 8px;">Branch Name</th>
          </tr>
      </thead>
      <tbody>
          @for (strowner of storeowners; track $index)
          {
              <tr>
                  <td style="border: 1px solid #ddd; padding: 8px;">{{ strowner.OwnerId }}</td>
                  <td style="border: 1px solid #ddd; padding: 8px;">{{ strowner.OwnerName }}</td>
                  <td style="border: 1px solid #ddd; padding: 8px;">{{ strowner.Email }}</td>
                  <td style="border: 1px solid #ddd; padding: 8px;">{{ strowner.BranchId }}</td>

                  <td style="border: 1px solid #ddd; padding: 8px;">
                    <button (click)="deleteRow(strowner.OwnerId)" style="padding: 8px; background-color: #f44336; color: white; border: none; cursor: pointer; border-radius: 4px;">Delete</button>
                  </td>
                  <td style="border: 1px solid #ddd; padding: 8px;">
                    <button (click)="editRow(strowner.OwnerId, strowner)" style="padding: 10px; background-color: #06c93e; color: white; border: none; cursor: pointer; border-radius: 4px;">Edit</button>
                  </td>

              </tr>
          }
      </tbody>
  </table>
</div>
<!-- } -->
